pymongo
git+http://github.com/django-nonrel/mongodb-engine.git#egg=django_mongodb_engine
hg+http://bitbucket.org/wkornewald/django-nonrel#egg=Django
hg+http://bitbucket.org/wkornewald/djangotoolbox#egg=djangotoolbox
